<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br/>
  <h1 class="headingColor">
    Hands-On Angular Workshops!!
  </h1>
</div>
<div class="container">
  <mat-form-field>
    <input matInput placeholder="FirstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="LastName">
  </mat-form-field>
  <button mat-raised-button color="primary">INTERESTED!!</button>
</div>
<div class="hostInfo">
    <p>Host: <a href="https://foc.justsift.com/profile/BJxB_kjeF0">Mohammed, Shamshaddin</a></p>
  <p>Speaker: <a href="https://foc.justsift.com/profile/BJY6uTV6jg">Gaurish Siwatch</a></p>
  <p>Gaurish Web Mentor: <a href="https://foc.justsift.com/profile/7cI4d4mCGrRIGIZlKEPVZB">Karl Herick</a></p>
  <p>Gaurish Leader: <a href="https://foc.justsift.com/profile/1luULLlnC05MLQkXMnoGmc">Chris Jarvis</a></p>
</div>
