<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br/>
  <h1 class="headingColor">
    Hands-On Angular Workshop!!
  </h1>
</div>
<div>
  <form class="container">
    <mat-form-field>
      <input
              matInput
              #firstName
              placeholder="FirstName"
              type="text"
              class="form-control"
              id="firstName"
              required
      >
    </mat-form-field>
    <span *ngIf="showFirstNameError" style="color: rosybrown">{{firstNameValue}}</span>
    <mat-form-field>
      <input
              matInput
              #lastName
              placeholder="LastName"
              type="text"
              class="form-control"
              id="lastName"
              required
      >
    </mat-form-field>
    <span *ngIf="showLastNameError" style="color: rosybrown">{{lastNameValue}}</span>
    <br/>
    <button mat-raised-button color="primary" (click)="sendEmail(firstName.value, lastName.value)">INTERESTED!!</button>
    <br/>
    <br/>
    <p style="color: white">{{clickMessage}}</p>
  </form>
</div>
<div class="hostInfo">
  <p>Host: <a target="_blank" href="https://foc.justsift.com/profile/BJxB_kjeF0">Mohammed, Shamshaddin</a></p>
  <p>Speaker: <a target="_blank" href="https://foc.justsift.com/profile/BJY6uTV6jg">Gaurish Siwatch</a></p>
  <p>Gaurish Web Mentor: <a target="_blank" href="https://foc.justsift.com/profile/7cI4d4mCGrRIGIZlKEPVZB">Karl Herick</a></p>
  <p>Gaurish Leader: <a target="_blank" href="https://foc.justsift.com/profile/1luULLlnC05MLQkXMnoGmc">Chris Jarvis</a></p>
</div>
